@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?gd2p38');
    src:    url('fonts/icomoon.eot?gd2p38#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?gd2p38') format('truetype'),
        url('fonts/icomoon.woff?gd2p38') format('woff'),
        url('fonts/icomoon.svg?gd2p38#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-library:before {
    content: "\e901";
}
.icon-file-picture:before {
    content: "\e902";
}
.icon-file-video:before {
    content: "\e903";
}
.icon-folder:before {
    content: "\e904";
}
.icon-display:before {
    content: "\e905";
}
.icon-laptop:before {
    content: "\e906";
}
.icon-mobile:before {
    content: "\e907";
}
.icon-mobile2:before {
    content: "\e908";
}
.icon-users:before {
    content: "\e917";
}
.icon-user-tie:before {
    content: "\e909";
}
.icon-clipboard:before {
    content: "\e90a";
}
.icon-terminal:before {
    content: "\e90b";
}
.icon-mail4:before {
    content: "\e90c";
}
.icon-google-plus:before {
    content: "\e90d";
}
.icon-google-drive:before {
    content: "\e90e";
}
.icon-facebook:before {
    content: "\e90f";
}
.icon-instagram:before {
    content: "\e910";
}
.icon-twitter:before {
    content: "\e911";
}
.icon-youtube2:before {
    content: "\e912";
}
.icon-pinterest2:before {
    content: "\e913";
}
.icon-file-word:before {
    content: "\e914";
}
.icon-file-excel:before {
    content: "\e915";
}
.icon-codepen:before {
    content: "\e916";
}

